<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/ec6e53ec-68e4-4777-a6ed-e148744f24c7/resourceGroups/rg-ops-arrow-uks/providers/Microsoft.Web/sites/wa-ops-arrow-uat</ResourceId>
    <ResourceGroup>rg-ops-arrow-uks</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://wa-ops-arrow-uat-dvdrbjf9fraydwdd.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1e621be9-f201-6f9e-ef4c-af36157018b1</ProjectGuid>
    <PublishUrl>https://wa-ops-arrow-uat-dvdrbjf9fraydwdd.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$wa-ops-arrow-uat</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>