<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8QGtnzYyolpSAIqw7kKsx0wsq7pDQ1VE</string>
	<key>GCM_SENDER_ID</key>
	<string>1088643757431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.octa.opsarrow</string>
	<key>PROJECT_ID</key>
	<string>ops-arrow-d583c</string>
	<key>STORAGE_BUCKET</key>
	<string>ops-arrow-d583c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088643757431:ios:6f942592638505fc175d72</string>
</dict>
</plist>